 
 .my_nav{
background: -webkit-linear-gradient(0deg, rgb(244, 253, 251), rgb(75, 145, 135));
background: -moz-linear-gradient(0deg, rgb(244, 253, 251), rgb(75, 145, 135));
background: linear-gradient(0deg, rgb(244, 253, 251), rgb(75, 145, 135));	
}
 



 /*Page Index.html */
 

  .main_info{color:black;}
  .main_info p{text-indent:25px;
  margin-bottom:0px;}
  
/* Правила здорового харчування*/

 #rules h4{color:#001A57;
 text-align:center;
 font-weight:bold;}
 #rules .row p{font-size:18px;
 text-indent:20px;}
 #rules .row {margin-top:20px;}
 
 #rules img{display: block;
  margin: 0 auto;}
  
  /* Поради від астролога*/
 #advices .row {margin-top:20px;}
 #advices h4{color:#001A57;
 text-align:center;
 font-weight:bold;}
 
  #advices .row p{font-size:17px;
 text-indent:20px;}
 
 #first{background-color:white;}
 
 
  /* Калькулятор*/
  

  #calculator h3{
  color:#001A57;
  margin-bottom:40px;} 
  
   #calculator h4{
  color:#722c2c;
  font-weight:bold;} 
  
   #calculator .new_style{
  color:#001A57;
 } 
  
  
  
   #calculator .row{margin-bottom:20px;}
   
   #calculator input {margin-bottom:20px;}
  
   #calculator #clear{background-color:#722c2c;
   color:white;
   font-size:18px;
   padding:2px;
   width:100%;
   }
   
    input[type=text]{
    font-weight:bold;
	}
 
 
   input[type=radio] {
  display: none;
}

   *, *:before, *:after {
  box-sizing: inherit;
}



   .active-label, label:focus, label:hover, label:active, input:checked + label {
  color: #e0758e;
}
.active-label:before, label:focus:before, label:hover:before, label:active:before, input:checked + label:before {
  background: white;
  border-color: #e0758e;
}


label {
  font-weight: bold;
  cursor: pointer;
  display: block;
  padding: 12px 10px 10px 30px;
  margin-bottom:-17px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;}

label:first-of-type {
  border: 0;
}
label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 1rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: .2rem solid #ccc;
}


input:checked + label:before {
  border-color: white;
  border: none;
  background: #e0758e;
}



  .new-select-style-wpandyou  {
   height: 29px;
   overflow: hidden;
   width: 240px;
   border-radius: 5px;
   background-color: lightgrey;
   margin-bottom:15px;
   }
   
   
   
   .new-select-style-wpandyou  select {
   background: transparent;
   border:none;
   font-size: 14px;
   height: 29px;
   color:#022E02;
   padding-bottom: 2px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
   
   }
   
.new_style{border:5px solid gray;
background-color:red;}
 
   /* Продукти для схуднення*/
   #food h4{color:#001A57;
   text-align:center;
   font-weight:bold;
   }
   
   #food .row{margin-top:20px;}
   #food .row p{font-size:17px;
	text-indent:20px;}
 
  #food img{display: block;
  margin: 0 auto;}
   
     
/* Спортивні вправи*/

 #sport_excercises h4{color:#001A57;
 text-align:center;
 font-weight:bold;}
 #sport_excercises .row p{font-size:18px;
 text-indent:20px;}
 #sport_excercises .row {margin-top:20px;}
 
  #sport_excercises img{display: block;
  margin: 0 auto;}
 
 
   

   /* Поради астролога*/
   
   #advices img{display: block;
  margin: 0 auto;}
  
   #advices h4{color:#001A57;
 text-align:center;
 font-weight:bold;
 }
 #advices .row p{font-size:16px;
 text-indent:20px;
 padding-left:20px;
 }
 
 #advices .row {margin-top:30px;}
 
   
   
 footer {background: -webkit-linear-gradient(180deg, rgb(244, 253, 251), rgb(75, 145, 135));
background: -moz-linear-gradient(180deg, rgb(244, 253, 251), rgb(75, 145, 135));
 background: linear-gradient(180deg, rgb(244, 253, 251), rgb(75, 145, 135));

 height:120px;
 color:black;
 margin-top:30px;
}


 footer .row{
 font-size:18px;
 }











